{erl_opts, [debug_info]}.
{deps, [
       	 {phoscon_control,{git,"https://github.com/joq62/phoscon_control.git",{branch,"main"}}}
       ]}.

{shell, [
  % {config, "config/sys.config"},
    {apps, [phoscon_provider]}
]}.
{relx, [
    {release, {phoscon_provider, "0.1.0"}, [phoscon_control,phoscon_provider]}
]}.
